@import url(layouts.css);
@import url(style.css); 
@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html{
  margin: 0;
  background: #f0a555;
  font-family: 'Poppins', sans-serif;
}