#photo-template{
  display: none;
}

section{
  border: 2px solid lightslategray;
  border-radius: 5%;
  background-color: rgb(243, 236, 237);
}

section{
  height: 25%;
  width: 25%;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  align-items: baseline;
  align-self: auto;
}

img{
  width: 350px;
  height: auto;
}

header{
 text-align: center;
}

