#photo-template{
  display: none;
}

section{
  border: 2px solid lightslategray;
  background-color: rgb(243, 236, 237);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

section{
  height: 25%;
  width: 25%;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  align-items: baseline;
  align-self: auto;
}

img{
  width: 275px;
  height: auto;
}

header{
 text-align: center;
}

